p, h1, h2, h3, h4 {
    margin-left: 2%;
    margin-top: 2%; 
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #f07400;
    text-decoration: none;
}

#introduction {
    position: absolute;
    background-color: #0e1a24;
    color: #e9e9e9; 
    top: 80%;
}

#introduction a[class="btn"]{
    margin-top: 5%;
    margin-bottom: 5%;
}

#magicka {
    position: absolute;
    background-color: #e9e9e9;
    color: #0e1a24;
}

#contact{
    position: absolute;
    background-color: #e9e9e9;
    color: #0e1a24;
}

#rowak{
    position: absolute;
    background-color: #e9e9e9;
    color: #0e1a24;
}

#rowak a[class="btn"]{
    margin-top: 5%;
    margin-bottom: 5%;
}

#simas{
    position: absolute;
    background-color: #0e1a24;
    color: #e9e9e9; 
}

#assets{
    position: absolute;
    background-color: #0e1a24;
    color: #e9e9e9; 
}

#banner{
    position: relative;
}

.btn {
    background-color: #0e1a24;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.btn[id="white"]{
    background-color: #e9e9e9; 
    color: #0e1a24;
}

.btn:hover {
    background-color: #2a534e;
}

.navbar{
    background-color: #0e1a24;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

#nome, #email, #telefone{
    width: 100%;
}